<div *ngIf="unAuthorized()">
</div>
<app-header></app-header>

<div *ngFor="let drill of drills">

  <mat-expansion-panel>
    <mat-expansion-panel-header>

      <mat-panel-title l10nTranslate>
        {{drill.name}}
      </mat-panel-title>

      <mat-panel-description [ngSwitch]="drill.isCompleted">
        <mat-icon *ngSwitchCase="false">cancel</mat-icon>
        <mat-icon *ngSwitchCase="true">done</mat-icon>
      </mat-panel-description>

    </mat-expansion-panel-header>

    <p l10nTranslate>{{drill.description}}</p>
    <p l10nTranslate>Seconds for exercise: {{drill.secondsForExercise}}s</p>
    <mat-panel-description [ngSwitch]="drill.isCompleted">
      <button l10nTranslate (click)="startDrillPractice(drill)" *ngSwitchCase="false" class="start-button" mat-button> 
        Start
      </button>
      <button l10nTranslate (click)="viewDrillResult(drill)" *ngSwitchCase="true" class="start-button" mat-button> 
        View result
      </button>

    </mat-panel-description>

    <ng-template matExpansionPanelContent>

      <iframe class="video-block" frameborder="0" width="560" height="315" src="https://www.youtube.com/embed/bnjed9YVCRs"></iframe>
    </ng-template>
  </mat-expansion-panel>
</div>