<div *ngIf="unAuthorized()">
</div>
<app-header></app-header>
<highcharts-chart 
  [Highcharts]="Highcharts"
  [(options)]="averageSpeedChartOptions"
  [(update)]="averageSpeedUpdateFlag"
  style="width: 100%; height: 400px; display: block; margin-top: 5%;"
></highcharts-chart>
<highcharts-chart 
  [Highcharts]="Highcharts"
  [(options)]="repsPerSecondChartOptions"
  [(update)]="repsPerSecondUpdateFlag"
  style="width: 100%; height: 400px; display: block; margin-top: 5%;"
></highcharts-chart>
<highcharts-chart 
  [Highcharts]="Highcharts"
  [(options)]="accuracyChartOptions"
  [(update)]="accuracyUpdateFlag"
  style="width: 100%; height: 400px; display: block; margin-top: 5%;"
></highcharts-chart>
